
<div class="container-fluid">



  <div class="row">
  <div class="col-xs-8"></div>
    <div class="col-xs-4">
        <button type="button" class="btn btn-secondary btn-lg btn-responsive" ng-click="go('/tripcreator')">Create New Trip
        </button>

    </div>
  </div>

<!-- create an array that has subarrays of 4 trips in each subarray, so 4 trips will be listed per row -->
<!-- ref: http://apicatus-laboratory.rhcloud.com/2014/10/21/nice-grids-with-ng-repeat/ -->
  <div class="row" ng-repeat="trips in userData.value.trips | listToMatrix:2">
    <div class="col-xs-6" ng-repeat="trip in trips track by $index" ng-click="setTripIndex(trip); go('/tripview')">

      <div class="row">
        <div class="thumbnail text-center" style="position: relative;">
        <img src="https://lh4.ggpht.com/SIkbqk-iZxEjrKk5DqHX0_5Mj_gznEe3E0o8MfqIyqBbfrQ_GDN7C53i7tpKPfhUbus=h900" alt="" class="img-responsive" style="">
        <div class="caption" style="position: absolute; top: 15%; width: 100%;">
          <h1 style="font-size: 40px">{{trip.tripName}}</h1>
          <br>
          <br>
          <h1 style="font-size: 30px">{{trip.location}}</h1>
          <br>
          <br>
          <h1 style="font-size: 20px">{{trip.shortDescription}}</h1>
        </div>
      </div>

    </div>
  </div>



</div>


