<div class="container" ng-cloak>
  <h2>Add a suggestion!</h2>
  <img src="../images/yelp.png" height="30px"
  <label>Category</label>
  <input ng-model="categories" /><br />

  <label>Search</label>
  <input ng-model="term" /><br />

  <label>Location</label>
  <input ng-model="location" /><br />
  <button ng-click="search()">SEARCH!</button><br /><br />

  <!-- Carousel with image, business name, url, rating, cost -->
      <!-- For now, have a button that will do "business" and "reviews" methods manually
         Eventually just changing the carousel will automatically do this for the current business viewed-->
  <div style="height: 300px">
    <div uib-carousel active="active">
      <div uib-slide ng-repeat="result in results">
        <img ng-click="businessDetails($index)" ng-src="{{result.image_url}}" height="200px"><br />
        <div class="carousel-caption">
          <a href="{{result.url}}" target="_blank"><strong>{{result.name}}</strong></a> ({{result.price}})<br />
          {{result.rating}} stars with {{result.review_count}} reviews<br />
        </div>
      </div>
    </div>
  </div>

  <!-- Cancel Suggestion button | Add Suggestion button -->
</div>