<!-- <md-dialog> -->
  <div class="container" ng-cloak>
    <!-- Dialogue header: "Add a suggestion" -->
    <!-- Yelp logo | Yelp category input box | Yelo search keyword input box -->
    <!-- Carousel with image, business name, url, rating, cost -->
    <!-- Reviews with image, username, rating, description -->
        <!-- For now, have a button that will do "business" and "reviews" methods manually
           Eventually just changing the carousel will automatically do this for the current business viewed-->
    <!-- Cancel Suggestion button | Add Suggestion button -->
    <input ng-model="term" /><br />
    <input ng-model="location" /><br />
    <input ng-model="categories" /><br />
    <h1 ng-click="search()">SEARCH!</h1><br />
    <h1 ng-click="business()">MORE INFO!</h1>
  </div>
<!-- </md-dialog> -->